#mtd1{width: 300px;}
#adddiv{text-align: center;width:450px;margin:0px auto;}
#mtab1{background:burlywood}
td .button1{background-image: url(images/back1.jpg);width: 82px;height: 23px;}
#error1{display: inline;color: red;}
#error2{display: inline;color: red;}
td input{display: inline;}
td div{display: inline;color: red;}
#adddiv1{text-align: center;width:400px;margin:0px auto;}
